*{margin:0;padding:0;box-sizing:border-box;}
	html{
			background:url('https://i.gifer.com/PTW9.gif') no-repeat center center fixed;
			background-size:cover;
			background-color:gray;
			background-blend-mode:screen;
		}
		.main{
			margin:20px;
			background-color:white;
			opacity:.9;
			padding:20px;
		}
		.dummy-text{
			padding:30px;
			line-height:2;
			font-size:20px;
			overflow:hidden;
		}
		.another-main{
			color:black;
			margin:0px 100px 20px 100px;
			text-align:center;
			font-size:20px;
		}
		h1{
			text-align:center;
		}
		a{
			text-decoration:none;
		}
		aside{
			display:block;
			position:relative;
		}
		div marquee{
			line-height:2;
			/*position:absolute;
			top:0;*/
			color:white;
			background-color:#369;
		}
		.scroll{
			width:100%;
		}
		#profile{
			background-color:rgba(0, 255, 0, 0.4);	/*green with opacity*/
			margin:20px;
		}
		#pp{
			border:2px solid black;
			background:url('web/images/kingucrimson.png');
		}
