body{
	font-family: 'Oxygen Mono', monospace;
	color:#ffd933;
	background-color:#203541;
}
ul,ol{
	list-style-type:none;
}
#header-nav{
	background-color:#374955;/*#203541*/
	border-radius:0;
	border:0;
}
#logo-img{
	background: url("../images/healthy.png") no-repeat;
	/*without this, image size will be default*/
	background-size:87px 87px;
	width:87px;
	height:87px;
	margin:10px 15px 0px 10px;
}
#sources{
	clear:both;
}
.navbar-brand h1{
	font-family: 'Concert One', cursive;
	color:white;/*#ffd933;*/
	font-size:24px;
	text-transform:uppercase;
	margin-top:20px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration:none;
}
.navbar-brand p{
	font-size:.7em;
	text-transform:uppercase;
	margin-top:15px;
}
.navbar-brand p span{
	vertical-align:middle;
	color:#ffd933;
}
@media (min-width:767px){
#nav-toggle{
display:none;
}
}

/*<div class="menu-item-tile col-md-6">
            <div class="row">
              <div class="col-sm-5">
                <div class="menu-item-photo">
                  <div>DO1</div>
                  <img src="images/burger.jpg" class="img-fluid" alt="item" height="150" width="250">
                </div>
                <div class="menu-item-price">
                  $10.95<span> (pint)</span>
                  $14.95<span> (quart)</span>
                </div>
                <div class="menu-item-description col-sm-6">
                  <h3 class="menu-item-title">Tuna with Starfish burger</h3>
                  <p class="menu-item-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec purus ac odio fringilla convallis. Maecenas interdum lectus in mi accumsan blandit. Phasellus eget consequat turpis. Aliquam augue enim, lacinia eget aliquet faucibus, convallis non nulla. Vivamus cursus mi a nisl sodales sodales. Suspendisse</p>
                </div>
              </div>
            </div>
           <hr class="d-sm-block d-md-none">
          </div>

          */